.container{ 
    background-color: aliceblue;
    height: 4350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.header{
    background-color: ghostwhite;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.botonera{
    background-color: whitesmoke;
    border-bottom: 1px gray solid;
    height: auto;
    border-top: 1px gray solid;
    display: flex;
    align-items: center;
}
.ulboton, .ulicons{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.elem, .tt{
    list-style: none;
    background: black;
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: smaller;
    text-transform: uppercase;
    margin: 0px 10px 0px 10px;
    padding: 3px 10px 3px 10px;
}
.tt{
    color: black;
    font-weight: normal;
    background: floralwhite;
}
.elem:hover{
    background-color: limegreen;
}


.content{
    background-color: linen;
    height: 4000px;
    display: flex;
    justify-content: space-around;
}

.noticias{
    background-color: honeydew;
    height: 3800px;
    width: 760px;
    padding: 100px 0px 100px 0px;
}
h1{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2, h3, p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: dimgray;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.imagen{
    margin: 5px;
}
.not1, .not2{
    background-color: whitesmoke;
    border: 1px gray solid;
    height: 1700px;
    width: 700px;
    margin-bottom: 97px;
    padding: 30px 30px 30px 30px;
}
.not2{
    height: 1980px;
    border-bottom: 0px;
}

.publicidades{
    background-color: snow;
    border-left: 1px gray solid;
    border-right: 1px gray solid;
    height: 1800px;
    width: 310px;
    padding: 100px 0px 100px 0px;
}
.footer{
    background-color: gainsboro;
    border: 3px gray solid;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.botoneraicons{
    background-color: gainsboro;
    height: 40px;
    width: 500px;
    display: flex;
    align-items: center;
}
.ulicons{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    background-color: gainsboro;
    list-style: none;
    margin: 0px 10px 0px 10px;
    padding: 3px 10px 3px 10px;
}
.icon:hover{
    background-color: dodgerblue;
}