.c1{
    background-color: blueviolet;
    border-radius: 45px;
}
.c2{
    background-color: rgb(43, 214, 226);
    border-radius: 45px;
}
.c3{
    background-color: rgb(171, 162, 179);
    border-radius: 45px;
}